//  @use 'https://fonts.googleapis.com/css?family=Share+Tech+Mono';
 @import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');
@font-face {
  font-family: 'Digital';
  src: url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot');
  src: url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix')
      format('embedded-opentype'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2')
      format('woff2'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff')
      format('woff'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.ttf')
      format('truetype'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.svg#Digital-7')
      format('svg');
}


*, *::before, *::after {
  box-sizing: border-box;
  padding:0;
  margin: 0;
}
body {
  background-color: #c2c2d6;
}

.header {
  position: relative;  
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

main {
 
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .section  {
    background-color: black;
    width: 320px;    
    padding: 5px;    
    border:2px solid #47476b;

      .container {
        color:white;
        display: grid;
        /*make columns*/
        grid-template-columns: repeat(4,1fr);

        button {
          border: none;
          outline: 1px solid black;
          cursor: pointer;
          // font-family: Share Tech Mono, monospace;
          font-family: Share Tech Mono, monospace;
          background-color: #4d4d4d;
          color: white;

          &:hover {
            color: black;
            outline: 0.05em solid gray;
            z-index: 3;
          }
        }

        /*First chile span*/
         *:first-child {
          grid-column: 1 / span 4;
          padding: 1px;
          text-align: end;
          font-size:20px;
          color:orange;
          line-height: 20px;
          word-wrap: break-word;
          font-family: digital;
         }
         *:nth-child(2) {
           grid-column: 1 / span 4;
           text-align: end;
           font-size:29px;
           font-family:digital;          
         }
         *:nth-child(3){
           grid-column: 1 / span 2;
           background-color: rgb(172, 57, 57);
         }
         *:nth-child(17) {
           grid-row: 6 / span 2;
           grid-column: 4;
           background: rgb(0, 68, 102);
         }
         *:nth-child(18){
           grid-column: 1 / span 2;
         }

      }
  }
}

#divide, #multiply,#subtract,#add {
  background: rgb(102, 102, 102);
}
.squard {
  position: relative;
  height: 65px; 
}  
